name: Build
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

env:
  CGO_ENABLED: 0

jobs:
  test:
    name: gh-action-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'
      - name: Test
        run: go test ./... -short
